/* Variables */

$font-text: 'Inconsolata', monospace;
$font-header: 'Signika', sans-serif;

$font-color: #222f3e;
$color-one: #82ccdd;
$color-two: #ff6b6b;
$color-three: #ffda79;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body {
     background: #eccc68;
     font-size: 22px;
     font-family: $font-text;
     color: $font-color;
}

h1 {
  text-align: center;
  margin: 50px 0 20px 0;
}

header p {
  text-align: center;
  margin: 0;
  color: #ff6b81;
  margin-bottom: 20px;
}

.score-board {
    border: 5px solid $font-color;
    width: 200px;
    margin: 20px auto;
    color: #ff6b81;
    font-size: 34px;
    text-align: center;
    padding: 15px 10px;
    position: relative;
}

.badge {
  background: #ff6b81;
  color: #fffff7;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

#computer-label {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
}

.buttons-wrapper {
  margin: 30px 0;
  text-align: center;
}

.btn {
  background-color: inherit;
  border: 5px solid #ff6b81;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #ff6b81;
  font-size: 64px;
  cursor: pointer;
  margin: 20px;
  outline:none;
  transition: all 0.3s ease;

  &:hover {
    color: $font-color;
    border-color: $font-color;
    border-style: dashed;
  }
}

.message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.btn-round {
  color: #fffff7;
  border: 3px dashed $font-color;
  font-size: 22px;
  font-family: $font-text;
  background-color: inherit;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);


  &:hover {
    border: 3px dashed #fffff7;
    color: $font-color;
  }
}

.round {
  display: none;
  position: absolute;
  width: 500px;
  height: 150px;
  padding: 15px  0 0 0;
  color: #fffff7;
  font-size: 34px;
  text-align: center;
  background-color: #ff6b81;
  border: 5px solid $font-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result {
  font-size: 32px;
}
